.card.table-card
  .actionbar
    .title Application List
    .flex
  
  %table.table
    %thead
      %tr
        %th Application Number
        %th Notified Authority
        %th Jurisdiction
        %th Concern name	
          
  
    %tbody
      - @form_a1_applications.each do |form_a1|
        %tr
          %td= form_a1.application_number
          %td= form_a1.role.name
          %td= form_a1.jurisdiction.name[@language]
          %td= form_a1.concern_name
          -# %td= qualification.certificate_number
          -# %td= qualification.status
          -# %td= qualification.applicant_user.email
          -# %td= link_to 'Show', [:applicant,qualification]
          -# %td= link_to 'Edit', edit_applicant_qualification_path(qualification)
          -# %td= link_to 'Destroy', [:applicant,qualification], method: :delete, data: { confirm: 'Are you sure?' }
  