.signin-container
  .content
    .container
      .row.justify-content-md-center
        .col.col-lg-5.mt200
          %h1.header-1
            =image_tag('logo.png', width: 60)
            sign in
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .md-form.white
              = f.email_field :email, autofocus: true, autocomplete: "off", class: 'form-control', placeholder: 'Email'
            .md-form.white
              = f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password'
            .actions
              = f.submit "Log in", class: 'btn btn-primary right'
          =# render "applicant_users/shared/links"
